<form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

    <div class="card">
        <div class="card-header">
            <strong>Add Restaurant User</strong>
        </div>
        <div class="card-body">
            <div class="col-md-12">

                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="username">Username</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required
                            minlength="3" maxlength="20" #username="ngModel" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="email">Email</label>
                    <div class="col-md-6">
                        <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required email
                            #email="ngModel" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="password">Password</label>
                    <div class="col-md-6">
                        <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required
                            minlength="6" #password="ngModel" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="select3">Select Restaurant</label>
                    <div class="col-md-6">
                      <select id="restaurant" name="restaurant" [(ngModel)]="form.restaurant" class="form-control form-control-sm">
                        <ng-container *ngFor="let restaurant of restaurants.restaurants; let i = index">
                            <option value={{restaurant._id}}>{{restaurant.name}}</option>
                        </ng-container>
                      </select>
                    </div>
                  </div>

            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Add User</button>
            <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
    </div>
    <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
    </div>

    <div class="alert alert-success" *ngIf="isSuccessful">
        Your registration is successful!
    </div>
</form>

<ng-container *ngFor="let restaurant of restaurants.restaurants; let i = index">
    {{restaurant.name}}
</ng-container>