<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <strong>Restaurant Details</strong>
        </div>
        <div class="card-body">
            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">

                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Name</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="name" required [(ngModel)]="restaurant.name"
                            name="name" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="textarea-input">Description</label>
                    <div class="col-md-9">
                        <textarea id="description" name="textarea-input" rows="4" class="form-control"
                            placeholder="Content.." required [(ngModel)]="restaurant.description"
                            name="description"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="textarea-input">Address</label>
                    <div class="col-md-9">
                        <textarea id="address" name="textarea-input" rows="6" class="form-control"
                            placeholder="Content.." required [(ngModel)]="restaurant.address" name="address"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Pincode</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="pincode" required [(ngModel)]="restaurant.pincode"
                            name="pincode" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Mobile Number</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="mobilenumber" required
                            [(ngModel)]="restaurant.mobilenumber" name="mobilenumber" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="email-input">Email</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="email" required [(ngModel)]="restaurant.email"
                            name="email" placeholder="Enter Email" autocomplete="email">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Restaurant Type</label>
                    <div class="col-md-9 col-form-label">
                        <div class="form-check form-check-inline mr-1">
                            <input class="form-check-input" type="checkbox" id="veg" [checked]="restaurant.veg"
                                (change)="restaurant.veg = !restaurant.veg">
                            <label class="form-check-label" for="veg">Veg</label>
                        </div>
                        <div class="form-check form-check-inline mr-1">
                            <input class="form-check-input" type="checkbox" id="nonveg" [checked]="restaurant.nonveg"
                                (change)="restaurant.nonveg = !restaurant.nonveg">
                            <label class="form-check-label" for="nonveg">Non Veg</label>
                        </div>
                        <div class="form-check form-check-inline mr-1">
                            <input class="form-check-input" type="checkbox" id="beverages"
                                [checked]="restaurant.beverages"
                                (change)="restaurant.beverages = !restaurant.beverages">
                            <label class="form-check-label" for="beverages">Beverages</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Status</label>
                    <div class="col-md-9 col-form-label">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="active" id="active"
                                [checked]="restaurant.active" (change)="restaurant.active = !restaurant.active">
                            <label class="form-check-label" for="active">
                                Enabled
                            </label>
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <div class="card-footer">
            <button (click)="saveRestaurant()" class="btn btn-success">Submit</button>
            <button (click)="cancel()" class="btn btn-info">Cancel</button>
        </div>
    </div>

</div>